.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.letreiro {
  height: 30px;
}

.divFlex {
  display: flex;
}

.buttonAdd,
.buttonSub {
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  width: 40px;
  height: 40px;
}

.buttonAdd {
  background-color: greenyellow;
  margin-right: 10px;
}

.buttonSub {
  background-color: red;
  margin-left: 10px;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

img {
  width: 100px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}


.imgRestart{
  width: 3rem;
}
.restart{
  border-radius: 10%;
}
.textTotal{
  margin: auto;
  margin: 0 0 0 155px;
}

.textCount {
  margin: 20px;
  font-size: 1.5em;
  border: 2px solid grey;
  border-radius: 10px;
  width: 100px;
}

.div-restart{
  width: 700px;
  margin: 0 auto;
  display: flex;
}

.restart {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.total {
  width: 53.7%;
  text-align: end;
}